<div class="p-10"  *ngIf="isWithVatiations == false"   >
    <div        class="grid grid-cols-7 gap-4">
      <div>
        <label>سعر المنتج</label>
      </div>
      <div class="col-span-6">
        <div class="flex flex-row gap-4">
          <mat-form-field appearance="outline" class="example-form-field" >
              <mat-label>السعر</mat-label>
              <input readonly  matInput   [(ngModel)]="productInfo.price" type="text"  >
               <span matPrefix>$ &nbsp;</span>
            </mat-form-field>
       
        </div>
      </div>

      <div>
        <label>كمية المنتج</label>
      </div>
      <div class="col-span-6">
        <div class="flex flex-row gap-4">
          <mat-form-field appearance="outline" class="example-form-field" >
              <mat-label>الكمية</mat-label>
              <input matInput readonly [(ngModel)]="productInfo.quantity" type="text"  >
            
            </mat-form-field>
        </div>
      </div>

      <div>
        <label>حالة المنتج</label>
      </div>
      <div class="col-span-6">
        <div  class="flex flex-row gap-4">
          <mat-form-field appearance="outline" class="example-form-field" >
              <mat-label></mat-label>
              <input matInput readonly [(ngModel)]="productInfo.condition" type="text"  >
         
            </mat-form-field>
      </div>
      </div>
    </div>
    
</div>