<div class="card" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div @fadeInUp fxFlex="auto">
      <div
        class="px-6 py-4 border-b"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <h2 class="title mx-4">
            اضافة إذن جديد
        </h2>
      </div>
      <form (ngSubmit)="save()" [formGroup]="addGrPermission">
      <div class="px-6 py-4" fxLayout="column">
        <div
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutGap="16px"
          fxLayoutGap.lt-sm="0"
        >
          <mat-form-field appearance="outline" fxFlex="auto">
            <mat-label>الاسم</mat-label>
            <input placeholder="أدخل الاسم" cdkFocusInitial formControlName="name" matInput required>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="auto">
            <mat-label>الأذونات</mat-label>
            <mat-select  multiple  [(value)]="permissionsSelected" required>
                <mat-option *ngFor="let permission of permissions" [value]="permission" >{{permission.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div
          fxLayout="row"
          fxLayout.lt-sm="column"
          fxLayoutGap="16px"
          fxLayoutGap.lt-sm="0"
        >
          <mat-form-field appearance="outline" fxFlex="auto">
            <mat-label>المشرفين </mat-label>
            <mat-select  multiple  [(value)]="adminsSelected" required>
                <mat-option *ngFor="let admin of admins" [value]="admin">{{admin.firstName}}&nbsp;{{admin.lastName}}</mat-option>
            </mat-select>
          </mat-form-field>
       
        </div>
        <hr />
    
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
       
            <button
             
              
              color="primary"
              mat-raised-button
              type="submit"
            >
            إضافة مشرف
            </button>
          </div>
      </div>

    
      </form>
    </div>
  </div>



