<form (ngSubmit)="save()" [formGroup]="form">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      
      <h2 *ngIf="form.get('name').value && isUpdateMode()"
          class="headline m-0"
          fxFlex="auto">تحديث العلامة التجارية: {{ form.get('name').value}}</h2>
      <h2 *ngIf="!form.get('name').value || isCreateMode()"
          class="headline m-0"
          fxFlex="auto">إضافة علامة تجارية جديدة</h2>
  
      
  
      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
        <mat-icon [icIcon]="icClose"></mat-icon>
      </button>
    </div>
  
    <mat-divider class="-mx-6 text-border"></mat-divider>
  
    <mat-dialog-content fxLayout="column">
      <div class="flex flex-col sm:flex-row">
        <mat-form-field appearance="outline" class="mt-6 flex-auto">
          <mat-label>الاسم</mat-label>
          <input placeholder="أدخل الاسم" cdkFocusInitial formControlName="name" matInput>
        </mat-form-field>
     
  
      </div>

      <div class="flex flex-col sm:flex-row">
        <img *ngIf="image != null" (click)="fileInput.click()" class="rounded" gdGridAlign="center" [src]="image" />

        <img *ngIf="image == null && defaults.image == null" (click)="fileInput.click()" class="rounded" gdGridAlign="center" src="assets/img/placeholder.png" />
        <img *ngIf="image == null && defaults.image" (click)="fileInput.click()" class="rounded" gdGridAlign="center" [src]="server + defaults.image.public_url" />

        <input hidden="true" type="file" multiple accept="image/png, image/jpeg, image/jpg" max="3" maxlength="3" class="d-none" (change)="onFileInput($event?.target?.files)" #fileInput />
  
      </div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">إلغاء</button>
      <button *ngIf="isCreateMode() && image" color="primary" mat-button type="submit">إضافة</button>
      <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">تحديث</button>
    </mat-dialog-actions>
  </form>
  
  
  